/* Topbar */
.navbar {
  padding-left: 20px;
}

.content-header {
  margin-top: 20px;
}

.topbar-action-links {
  margin-left: 20px;
}
.topbar-action-links a {
  color: white;
}

.notifcation-area {
  position: relative;
}
.notifcation-area .notifaction-button {
  color: white;
}
.notifcation-area .notifcation-list {
  padding: 10px;
  background-color: white;
  position: absolute;
  top: 40px;
  right: 0px;
  z-index: 50;
  min-width: 388px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  display: none;
}
.notifcation-area .notifcation-list.show {
  display: block;
}
.notifcation-area .notifcation-list ul {
  list-style: none;
  padding: 0;
}
.notifcation-area .notifcation-list ul li {
  border-bottom: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
}
.notifcation-area .notifcation-list ul li:last-child {
  border: 0;
  padding-bottom: 0;
}

/* Common */
a {
  text-decoration: none;
}

.wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.danger {
  color: red;
}

.main-actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.action-links a {
  margin-right: 10px;
}

.page-login {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.page-login .form-group {
  margin-top: 10px;
}
.page-login .action-buttons {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
.page-login .action-buttons .btn-primary {
  margin-right: 10px;
}
.page-login .action-button {
  text-align: center;
}
.page-login .action-button .btn {
  display: inline-block;
  margin-top: 10px;
}

.page-register {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.page-register main {
  width: 50%;
}
.page-register .form-group {
  margin-top: 10px;
}
.page-register .action-buttons {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
.page-register .action-buttons .btn {
  margin-right: 10px;
}
.page-register .action-button {
  text-align: center;
}
.page-register .action-button .btn {
  display: inline-block;
  margin-top: 20px;
}

.page-dashboard .card-primary {
  margin-top: 20px;
}
.page-dashboard .recent-events li a {
  margin-right: 10px;
}

.page-events .event-filters {
  margin-top: 20px;
  margin-bottom: 20px;
}

.page-event .action-links {
  margin-top: 20px;
}
.page-event .member-list {
  margin-top: 30px;
}
.page-event .action-buttons {
  margin-top: 10px;
  text-align: right;
  margin-bottom: 15px;
}